
<div th:fragment="contactForm(message, property)">

    <h1>Formularz kontaktowy</h1>
    <form th:method="POST" th:object="${message}" th:action="@{/propertyDetails.html}">


        <div sec:authorize="!isAuthenticated()">
        <input id="email" type="text" name="email" th:value="*{email}"
               class="form-control" required="true"  placeholder="Email..."/>
        </div>



        <input id="messageText" type="text" name="messageText" th:value="*{messageText}"
               class="form-control" required="true" placeholder="Wpisz wiadomosć..."/>


        <input id="property" type="hidden" name="property" th:value="${property.id}"/>
        <input id="userReceiver" type="hidden" name="userReceiver" th:value="${property.user.id}"/>

        <br><br>
        <button type="submit" class="btn btn-primary btn-raised">Wyślij</button>
    </form>

</div>