
<div th:fragment="contactForm(message, property)">

    <h3>Formularz kontaktowy</h3>
    <form th:method="POST" th:object="${message}" th:action="@{/propertyDetails.html}">

        <div sec:authorize="!isAuthenticated()">
        <div class="form-group">
            <label for="email"></label>
            <input type="email" id="email"  name="email" th:value="*{email}" class="form-control" placeholder="name@example.com">
        </div>
        </div>

        <br><br>

        <div class="form-group">
            <label for="messageText"></label>
            <textarea class="form-control" id="messageText"  name="messageText" th:value="*{messageText}"
                      rows="5" placeholder="Wpisz wiadomosć..."></textarea>
        </div>

        <input id="property" type="hidden" name="property" th:value="${property.id}"/>
        <input id="userReceiver" type="hidden" name="userReceiver" th:value="${property.user.id}"/>

        <br><br>
        <button type="submit" class="btn btn-primary btn-raised">Wyślij</button>

    </form>

</div>