<div th:fragment="messages(message, property)">

    <h5>Wiadomości dotyczące tego ogłoszenia</h5>
<!--    -->
<!--    <form th:method="POST" th:object="${message}" th:action="@{/propertyDetails.html}">-->
<!--        &lt;!&ndash;       receiver  <p th:text="${message.userReceiver.id}"></p>&ndash;&gt;-->
<!--        &lt;!&ndash;        sender <p th:text="${message.userSender.id}"></p>&ndash;&gt;-->
<!--        <input id="messageText" type="text" name="messageText" th:value="*{messageText}"-->
<!--               class="form-control"-->
<!--               required="true" autofocus="true"/>-->
<!--        <input id="email" type="text" name="email" th:value="*{email}"-->
<!--               class="form-control"-->
<!--               required="true" autofocus="true"/>-->

<!--        <input id="property" type="hidden" name="property" th:value="${property.id}"/>-->
<!--        <input id="userReceiver" type="hidden" name="userReceiver" th:value="${property.user.id}"/>-->
<!--        <button type="submit" class="btn btn-primary btn-raised">Zapisz</button>-->
<!--    </form>-->
</div>