<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <script src="https://kit.fontawesome.com/e0d1596b92.js" crossorigin="anonymous"></script>

    <div th:replace="shared/header :: header-css"/>
    <title>Kontakty</title>
</head>
<body>
<div th:replace="shared/header :: header('contactList')"/>

<div id="main">

    <div class="container">
    <H1>Kontakty</H1>

    <!--    <tr th:each="conversation : ${conversationListPage.content}" >-->
    <!--        <td th:text="${conversation.id}"></td>-->
    <!--        <a th:href="@{/messageDetails(conversationId=${conversation.id})}" th:text="${conversation.property.name}  ">link</a>-->
    <!--    </tr>-->


    <div th:if="${conversationListPage.hasContent() eq false}">
        <span>Brak kontaktów </span>
    </div>
    <div th:if="${conversationListPage.hasContent() eq true}">



        <span th:inline="text">
           Liczba elemntów: [[${conversationListPage.totalElements}]]
        </span>
        <br><br>

        <table class="table table-striped" style="text-align: center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th>Użytkownik</th>
                <th>Imię i Nazwisko</th>
                <th>Ogłoszenie</th>
                <th>Chat</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="conversation : ${conversationListPage.content}" >



                <td><b th:text="${conversationListPage.content.indexOf(conversation)}+1"></b> </td>
                <td>
                    <center>
                    <img style="width: 50px; height: 50px;" class="img-circle"  th:src="${conversation.userReceiver.imageName != null
                    ? conversation.userReceiver.imageName : '/images/no-image2.jpg'}"/> <br>

                    <a th:href="@{/userDetails.html(id=${conversation.userReceiver.id})}" th:text="${conversation.userReceiver.username}"></a>
                    </center>
                </td>
                <td>
                    <p th:text="${conversation.userReceiver.firstName} + ' '+ ${conversation.userReceiver.lastName}"></p>
                </td>
                <td>
                    <center>
                    <img style="width: 50px; height: 50px;" class="img-rounded" th:src="${conversation.property.imageName != null ?
                         conversation.property.imageName  : '/images/no-image2.jpg'}"/> <br>
                    <a th:href="@{/messageDetails(conversationId=${conversation.id})}" th:text="${conversation.property.name}  ">link</a>
                    </center>
                </td>
               <td>
                   <center>
                   <a class="fas fa-comment-dots" th:href="@{/messageDetails(conversationId=${conversation.id})}" style="font-size:48px; text-decoration: none"></a>
                   </center>
               </td>

            </tr>

            </tbody>
        </table>

        <div th:replace="shared/pagination :: pager('/messageList.html', ${conversationListPage})"></div>

    </div>


</div>
</div>
</body>
</html>