<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Kontakty</title>
    <!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div th:replace="shared/header :: header-css"/>
</head>
<body>
<div th:replace="shared/header :: header('contactList')"/>

<div id="main">

    <div class="container">
        <H1>Kontakty</H1>
        <br>
        <a href="/calendar">Terminarz</a>

        <div th:if="${conversationListPage.hasContent() eq false}">
            <span>Brak kontaktów </span>
        </div>
        <div th:if="${conversationListPage.hasContent() eq true}">



        <span th:inline="text">
           Liczba elemntów: [[${conversationListPage.totalElements}]]
        </span>
            <br><br>

            <table class="table table-striped" style="text-align: center">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th>Użytkownik</th>
                    <th>Imię i Nazwisko</th>
                    <th>Ogłoszenie</th>
                    <th>Chat</th>
                    <th>Spotkania</th>

                </tr>
                </thead>

                <tr th:each="conversation : ${conversationListPage.content}" >
                    <div th:with="user = ${conversation.userReceiver.username == #authentication.getName() ? conversation.userSender : conversation.userReceiver} ">

                        <td><b th:text="${conversationListPage.content.indexOf(conversation)}+1"></b> </td>
                    <td>
                        <center>
                            <img style="width: 50px; height: 50px;" class="img-circle"  th:src="${user.imageName != null
                               ? user.imageName : '/images/no-image2.jpg'}"/> <br>
                            <a th:href="@{/userDetails.html(id=${user.id})}" th:text="${user.username}"></a>
                        </center>
                    </td>
                    <td>
                        <p th:text="${user.firstName} + ' '+ ${user.lastName}"></p>
                    </td>
                    <td>
                        <center>
                            <img style="width: 50px; height: 50px;" class="img-rounded" th:src="${conversation.property.imageName != null ?
                         conversation.property.imageName  : '/images/no-image2.jpg'}"/> <br>
                            <a th:href="@{/propertyDetails.html(id=${conversation.property.id})}" th:text="${conversation.property.name}  ">link</a>
                        </center>
                    </td>
                    <td>
                        <center>
                            <a class="fas fa-comment-dots" th:href="@{/messageDetails(conversationId=${conversation.id})}" style="font-size:40px; text-decoration: none"></a>
                        </center>
                    </td>
                    <td>
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th scope="col">Data</th>
                                <th scope="col">Notatki</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="meeting : ${meetings}">
                                <span th:if="${meeting.conversation.id} == ${conversation.id} ">
                                <td th:text="${#dates.format(meeting.meetingDate, 'dd-MM-yyyy')}">Data spotkania</td>
                                <td th:text="${meeting.description}">Notatki</td>
                                </span>
                            </tr>
                            </tbody>
                        </table>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" th:attr="data-whatever=@{/saveMeeting(conversationId=${conversation.id})},
                        data-name='Nowe spotkanie z ' + ${user.firstName}+ ' ' + ${user.lastName}">Nowe spotkanie</button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title" id="exampleModalLabel">New message</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-body">

                                        <div style="padding: 50px">
                                            <form th:method="POST" id="modalForm" th:object="${meeting}" th:action="@{/saveMeeting(conversationId=${conversation.id})}">

                                                <div class="form-group">
                                                    <label for="meetingDate" class="bmd-label-floating">Data spotkania:</label><br>
                                                    <input th:field="${meeting.meetingDate}" id="meetingDate" type="date"/>
                                                </div>

                                                <div class="form-group">
                                                    <label for="description" class="col-form-label"></label>
                                                    <textarea type="text" id="description"
                                                              class="form-control" placeholder="Notatki"  th:field="${meeting.description}"/>
                                                </div>

                                                <button type="submit"  class="btn btn-primary">Zapisz</button>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                    <td>
                    </td>
                    </div>
                </tr>
                </tbody>
            </table>

            <script>
                $('#exampleModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget) // Button that triggered the modal
                    var recipient = button.data('whatever') // Extract info from data-* attributes
                    var name = button.data('name');
                    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                    var modal = $(this)
                     modal.find('.modal-title').text(name);
                    // modal.find('.modal-body input').val(recipient)
                    $("#modalForm").attr("action", recipient);
                })
            </script>

            <div th:replace="shared/pagination :: pager('/messageList.html', ${conversationListPage})"></div>

        </div>


    </div>
</div>
</body>
</html>