<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Wysłane wiadomości</title>
</head>
<body class="card">
<div th:replace="shared/header :: header('messageList')"/>

<div id="main">
    <div class="container">
    <H1>Lista Wiadomości</H1>

<!--    <tr th:each="conversation : ${conversationListPage.content}" >-->
<!--        <td th:text="${conversation.id}"></td>-->
<!--        <a th:href="@{/messageDetails(conversationId=${conversation.id})}" th:text="${conversation.property.name}  ">link</a>-->
<!--    </tr>-->


    <div th:if="${conversationListPage.hasContent() eq false}">
        <span>Brak wiadomości </span>
    </div>
    <div th:if="${conversationListPage.hasContent() eq true}">



        <span th:inline="text">
           Liczba elemntów: [[${conversationListPage.totalElements}]]
        </span>
        <br><br>

        <table class="table table-light" style="border-radius: 10px ">
            <thead class="thead-dark">
            <tr>
                <th>Avatar</th>
                <th>Odpowiedz</th>
                <th>Ogłoszenie</th>
<!--                <th>Treść</th>-->
                <th>Od</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="conversation : ${conversationListPage.content}" >

                <td>
                        <img style="width: 50px; height: 50px;" class="img-rounded" th:src="${conversation.property.imageName != null ?
                         conversation.property.imageName  : '/images/no-image2.jpg'}"/>
                </td>
                <td>

                    <a th:href="@{/messageDetails(conversationId=${conversation.id})}" th:text="${conversation.property.name}  ">link</a>
                </td>
                <td>
                    <p>[[${conversation.property.name}]]</p>
                </td>

                <td>
                    <p>[[${conversation.userReceiver.username}]]</p>
                </td>


            </tr>

            </tbody>
        </table>

        <div th:replace="shared/pagination :: pager('/messageList.html', ${conversationListPage})"></div>

    </div>


    </div>
</div>
</body>
</html>