<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Chat</title>

    <link rel="stylesheet" type="text/css" href="statics/css/chat.css" />
    <link rel="stylesheet" type="text/css" href="statics/css/main.css" />
    <div th:replace="shared/header :: header-css"/>
</head>
<body>
<div th:replace="shared/header :: header('messageDetails')"/>

<div id="main">

        <div class="container py-5 px-4">
            <div class="row rounded-lg overflow-hidden shadow">


                <!-- Chat Box-->
                <div class="col-12 px-0">
                    <div class="bg-gray px-4 py-2 bg-light">
                        <div class="media w-75 mb-2">
                            <img th:src="${property.imageName}" alt="propertyImg" width="50" height="50" class="rounded-bottom">
                            <div class="media-body ml-3">
                                <a class="h5 mb-0 py-1" th:text="${property.name}" th:href="@{/propertyDetails.html(id=${property.id})}"></a>

                                <br>
                                <span>Konwersacja z </span>
                                <a th:text="${userSender.username}" th:href="@{/userDetails.html(id=${userSender.id})}"></a>
                            </div>
                        </div>

                    </div>

                    <div class="px-4 py-5 chat-box bg-white">
                        <div th:each="message: ${messagesList}">
                            <div th:with="expr_result = ${message.userReceiver.username == #authentication.getName()}">
                            <!-- Sender Message-->
                                <div th:if="${expr_result}">
                                    <div class="media w-75 mb-2"><img th:src="${message.userSender.imageName != null ? message.userSender.imageName : '/images/no-image2.jpg'}" alt="user" width="50" class="rounded-circle">
                                        <div class="media-body ml-3">
                                            <div class="bg-light rounded py-2 px-3 mb-2">
                                                <p class="text-small mb-0 text-muted" th:text="${message.messageText}">Test which is a new approach all solutions</p>
                                            </div>
                                            <p class="small text-muted"  th:text="' '+${#dates.format(message.creationDate, 'dd-MM-yyyy | HH:mm')}">12:00 PM | Aug 13</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Reciever Message-->
                                <div th:unless="${expr_result}">
                                    <div class="media w-75 ml-auto mb-2">
                                        <div class="media-body">
                                            <div class="bg-primary rounded py-2 px-3 mb-2">
                                                <p class="text-small mb-0 text-white" th:text="${message.messageText}">Test which is a new approach to have all solutions</p>
                                            </div>
                                            <p class="small text-muted"  th:text="' '+${#dates.format(message.creationDate, 'dd-MM-yyyy | HH:mm')}">12:00 PM | Aug 13</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                    </div>
                    </div>

                    <!-- Typing area -->
                    <form class="bg-light" th:method="POST" th:object="${message}" th:action="@{/sendReply}">
                        <div class="input-group">
                            <input id="messageText" type="text" name="messageText" th:value="*{messageText}" required="true" placeholder="Wpisz wiadomosć..."
                                   aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light"/>

                            <input id="property" type="hidden" name="property" th:value="${message.property.id}"/>
                            <input id="userReceiver" type="hidden" name="userReceiver" th:value="${message.userSender.id}"/>
                            <input id="userSender" type="hidden" name="userSender" th:value="${message.userReceiver.id}"/>
                            <input id="conversation" type="hidden" name="conversation" th:value="${message.conversation.id}"/>

                            <div class="input-group-append">
                                <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

</div>
</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>