<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Edit user data form -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <div th:replace="shared/header :: header-css"/>

    <title>Strona domowa</title>
</head>
<body>
<div th:replace="shared/header :: header('myPropertyList')"/>

<div th:with="boundMin=${20000},boundMax=${40000}">

    <div id="main" class="card-body" style="padding-left: 100px; ">

        <!--    <div id="main">-->
        <!--        <div class="container">-->

        <div class="row">
            <div class="col-xs-6">
                    <div th:replace="fragments/userAccount.html :: userAccount(${user})"></div> 
            </div>
            <div class="col-sm-9">
                 <div th:replace="fragments/editUser.html :: editUser(${user})"></div> 
                <form th:method="POST" th:action="@{propertyList.html}" th:object="${searchCommand}">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input th:field="*{phrase}" placeholder="Fraza" class="form-control"
                                   th:classappend="${#fields.hasErrors('phrase')}?'is-invalid'"/>
                            <div class="error text-danger" th:if="${#fields.hasErrors('phrase')}">
                                <p th:each="err : ${#fields.errors('phrase')}" th:text="${err}"></p>
                            </div>
                        </div>

                        <div class="form-group col-md-3">

                            <input th:field="*{minPrice}" placeholder="Cena od" class="form-control"
                                   th:classappend="${#fields.hasErrors('minPrice')}?'is-invalid'"/>
                            <div class="error text-danger" th:if="${#fields.hasErrors('minPrice')}">
                                <p th:each="err : ${#fields.errors('minPrice')}" th:text="${err}"></p>
                            </div>

                        </div>
                        <div class="form-group col-md-3">

                            <input th:field="*{maxPrice}" placeholder="Cena do" class="form-control"
                                   th:classappend="${#fields.hasErrors('maxPrice')}?'is-invalid'"/>
                            <div class="error text-danger" th:if="${#fields.hasErrors('maxPrice')}">
                                <p th:each="err : ${#fields.errors('maxPrice')}" th:text="${err}"></p>
                            </div>
                        </div>


                    </div>
                    <div class="row">

                        <div class="form-group col-md-8"></div>

                        <div class="form-group col-md-2">
                            <a th:if="${searchCommand.isEmpty() eq false or #fields.hasErrors('*')}" th:href="@{propertyList.html(all)}" class="btn btn-success">
                                <span class="glyphicon glyphicon-refresh"></span> Pokaż wszystko
                            </a>
                        </div>

                        <div class="form-group col-md-2">
                            <button type="submit" class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span> Wyszukaj
                            </button>
                        </div>
                    </div>
                </form>

                <H3>Moje ogłoszenia</H3>

                <div th:if="${propertyListPage.hasContent() eq false}">
                    <span th:if="${searchCommand.isEmpty()}">Brak ogłoszeń w bazie</span>
                    <span th:unless="${searchCommand.isEmpty()}">Brak wyników wyszukiwania</span>
                </div>
                <div th:if="${propertyListPage.hasContent() eq true}">



            <span th:if="${searchCommand.isEmpty()}">
                 [[${propertyListPage.totalElements}]] ogłoszeń
            </span>
                    <span th:unless="${searchCommand.isEmpty()}">
                Wynik wyszukiwania: [[${propertyListPage.totalElements}]] ogłoszeń
            </span>
            <br><br>

                        <div th:each="property : ${propertyListPage.content}" class="card mb-3" style="height: 150px">
                            <div th:style="${property.exclusive} ? 'background:radial-gradient(circle, rgba(225,222,170,1) 37%, rgba(208,184,117,1) 100%)' : ''" >
                                <div class="row no-gutters" >
                                    <div class="col-md-2">
                                        <img style="width: 150px; height: 150px;" class="card-img" th:src="${property.imageName != null ? property.imageName : '/images/no-image-property.png'}"/>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-header-tabs">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title"> <a th:href="@{/propertyDetails.html(id=${property.id})}">[[${property.name}]]</a></h5>

                                            <p class="card-subtitle"><span th:text="${property.address.city} + ', '+${property.address.province.name}"/></p><br>

                                            <h5 class="card-text"><span th:text="${#numbers.formatDecimal(property.price,2,2)} + ' zł.'"/></h5>

                                            <p class="card-text">
                                                <small class="text-muted"><span th:text="'Data dodatnia: '+ ${#dates.format(property.creationDate, 'dd-MM-yyyy HH:mm')}"/></small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card-deck">
                                        <div sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
                                            <a class="btn btn-danger" th:href="@{/propertyList.html(did=${property.id})}">Usuń</a>
                                            <a class="btn btn-success" th:href="@{/propertyForm.html(id=${property.id})}">Edytuj</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div th:replace="shared/pagination :: pager('/myPropertyList.html', ${propertyListPage})" th:scope="#request"></div>

                </div>


            </div>
        </div>


    </div>
</div>
</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>