<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="statics/css/image-gallery.css" />
    <link rel="stylesheet" type="text/css" href="statics/css/propertyDetails.css" />
    <link rel="stylesheet" type="text/css" href="statics/css/main.css" />
    <div th:replace="shared/header :: header-css"/>
    <title>Strona domowa</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main">
    <div class="container">
    <h1 th:text="${property.name}"></h1><br/>
    <h5 th:text="${property.address.city} + ', ' + ${property.address.province.name}"></h5>


    <div th:unless="${property.photos.isEmpty()}">
    <div class="slideshow-container">

        <div th:each="photo : ${property.photos}" class="mySlides">
            <div class="numbertext" th:text="${property.photos.indexOf(photo)}+1 + '/'+ ${property.photos.size()} ">1 / 3</div>
            <img th:src="'/uploads/'+ ${photo}" style="width:1000px; height:600px">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <br>

    <div style="text-align:center">
        <span  th:each="photo : ${property.photos}" class="dot" th:onclick="currentSlide(${property.photos.indexOf(photo)}+1)"></span>
    </div>
    </div>


    <br><br>
    <table class="table table-sm">
        <tbody>
        <tr>
            <td>Typ:</td>
            <td><b>[[${property.propertyType.name}]]</b></td>
        </tr>
        <tr>
            <td>Rodzaj oferty:</td>
            <td><b th:text="${property.offerType.name}"></b></td>
        </tr>
        <tr>
            <td>Data dodania:</td>
            <td><b th:text="${property.creationDate}"></b></td>
        </tr>
        <tr>
            <td>Dostępny od:</td>
            <td><b th:text="${property.availableDate}"></b></td>
        </tr>
    </table>

    <br><br>
    <h5>Szczegóły nieruchomości</h5> <br>

    <table class="table table-sm">
        <tbody>
        <tr>
            <td>Powierzchnia (m2):</td>
            <td><b th:text="${property.area}"></b></td>
        </tr>
        <tr>
            <td>Liczba pokoi:</td>
            <td><b th:text="${property.numberOfRooms}"></b></td>
        </tr>
        <tr>
            <td>Umeblowany:</td>
            <td><b th:text="${property.furnished} ? 'Tak' : 'Nie'"></b></td>
        </tr>
    </tbody>
    </table>

    <br><br>
    <h5>Opis</h5> <br>
    <p th:text="${property.description}"></p>

    Dodane przez: <a th:href="@{/userDetails.html(id=${property.user.id})}">[[${property.user.username}]]</a>

    <div class="col-lg-5 col-md-5">
        <img style="width: 10%; height: auto;" class="img-rounded" th:src="${property.user.imageName != null ?
            property.user.imageName : '/images/no-image2.jpg'}"/>
    </div>

        <!-- Formularz kontaktowy -->
    <div th:with="expr_result = ${property.user.username == #authentication.getName()}">
    <div th:unless="${expr_result}">
        <center>
        <div class="w3-panel w3-card-2">
            <div th:replace="fragments/contactForm.html :: contactForm(${message}, ${property})"/>
        </div>
        </center>
    </div>


<br/>
    <a class="btn btn-success" href="/propertyList.html">Wstecz</a>
</div>
</div>
<div th:replace="shared/footer :: footer"></div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }
</script>
</body>
</html>