<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <div th:replace="shared/header :: header-css"/>
    <title>Rejestracja</title>

    <style>
        img{
            width: 20%;
            height: 20%;
        }

       /*Collapsible*/
         .collapsible {
             background-color: #777;
             color: white;
             cursor: pointer;
             padding: 18px;
             width: 100%;
             border: none;
             text-align: left;
             outline: none;
             font-size: 15px;
         }

        .active, .collapsible:hover {
            background-color: #555;
        }

        .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
        }

    </style>

</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div class="container">
<div id="main" style="padding: 50px">
            <form th:method="POST" th:object="${property}" th:action="@{/saveProperty}"  enctype="multipart/form-data">
                <fieldset>
                    <h4>Dodaj ogłoszenie</h4>

                    <div class="form-group">
                        <label for="name" class="bmd-label-floating">Tytuł:</label>
                        <input id="name" type="text" name="name" th:value="*{name}"
                               class="form-control" th:classappend="${#fields.hasErrors('name')}?'is-invalid'"
                               required="true" autofocus="true"/>

                        <div class="error text-danger" th:if="${#fields.hasErrors('name')}">
                            <span th:each="err : ${#fields.errors('name')}" th:text="${err}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="bmd-label-floating">Opis:</label>
                        <input id="description" type="text" th:field="*{description}"
                               class="form-control" th:classappend="${#fields.hasErrors('description')}?'is-invalid'"
                               required="true"/>

                        <div class="error text-danger" th:if="${#fields.hasErrors('description')}">
                            <p th:each="err : ${#fields.errors('description')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="price" class="bmd-label-floating">Cena:</label>
                        <input id="price" type="text" th:field="*{price}"
                               class="form-control" th:classappend="${#fields.hasErrors('price')}?'is-invalid'"
                               required="true"/>
                        <div class="error text-danger" th:if="${#fields.hasErrors('price')}">
                            <p th:each="err : ${#fields.errors('price')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="numberOfRooms" class="bmd-label-floating">Liczba pokoi:</label>
                        <input id="numberOfRooms" type="text" th:field="*{numberOfRooms}"
                               class="form-control" th:classappend="${#fields.hasErrors('numberOfRooms')}?'is-invalid'"
                               required="true"/>

                        <div class="error text-danger" th:if="${#fields.hasErrors('numberOfRooms')}">
                            <p th:each="err : ${#fields.errors('numberOfRooms')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="area" class="bmd-label-floating">Powierzchnia (m2):</label>
                        <input id="area" type="text" th:field="*{area}"
                               class="form-control" th:classappend="${#fields.hasErrors('area')}?'is-invalid'"
                               required="true"/>

                        <div class="error text-danger" th:if="${#fields.hasErrors('area')}">
                            <p th:each="err : ${#fields.errors('area')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="availableDate" class="bmd-label-floating">Dostępny od:</label>
                        <input id="availableDate" type="date" th:field="*{availableDate}"
                               class="form-control" th:classappend="${#fields.hasErrors('availableDate')}?'is-invalid'"
                               required="true"/>
                        <div class="error text-danger" th:if="${#fields.hasErrors('availableDate')}">
                            <p th:each="err : ${#fields.errors('availableDate')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="bmd-label-floating">
                            <input type="checkbox" th:field="*{furnished}"/>
                            Umeblowany
                        </label>
                    </div>

                    <div class="form-group">
                        <select th:field="*{propertyType.id}" class="form-control"
                                th:classappend="${#fields.hasErrors('propertyType.id')}?'is-invalid'">
                            <option value="-1">--wybierz typ nieruchmości--</option>
                            <option th:each="type : ${propertyTypes}"
                                    th:value="${type.id}"
                                    th:text=" ${type.name}"
                            />
                        </select>
                        <div class="error text-danger" th:if="${#fields.hasErrors('propertyType.id')}">
                            <p th:each="err : ${#fields.errors('propertyType.id')}" th:text="${err}"></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <select th:field="*{offerType.id}" class="form-control"
                                th:classappend="${#fields.hasErrors('offerType.id')}?'is-invalid'">
                            <option value="-1">--wybierz typ oferty--</option>
                            <option th:each="type : ${offerTypes}"
                                    th:value="${type.id}"
                                    th:text=" ${type.name}"
                            />
                        </select>
                        <div class="error text-danger" th:if="${#fields.hasErrors('offerType.id')}">
                            <p th:each="err : ${#fields.errors('offerType.id')}" th:text="${err}"></p>
                        </div>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <input type="file" name="file" id="file" accept="image/*" class="form-control"/>-->
<!--                    </div>-->

<!--                    -->
                    <div class="form-group">
                        <input type="file" name="files" id="files" accept="image/*" class="form-control"  multiple="multiple"/>
                    </div>


                    <hr>
                    <div class="gallery"></div>


                    <div class="form-group">
                        <label class="bmd-label-floating">
                            <input type="checkbox" th:field="*{exclusive}"/>
                            Premium
                        </label>
                    </div>

                    <div class="form-group" style="background: #e0da85">


                        <table class="table">
                            <thead class="thead-light">
                            </thead>
                            <tbody>
                            <tr  th:each="offer : ${premiumOffer}">
                                <td>
                                    <input type="radio" th:field="*{premiumOffer.id}" th:value="${offer.id}" />
                                </td>
                                <td>
                                    <label th:for="${offer.id}" th:text="${offer.name}" style="font-weight: bold"></label>
                                </td>
                                <td>
                                     <p th:text="${offer.price}" style="font-size: 18px; color: #a80446 "></p>
                                </td>
                                <td>
                                    <p th:text="${offer.description}"></p>
                                </td>
<!--                                <th scope="row">1</th>-->
<!--                                <td>Mark</td>-->
<!--                                <td>Otto</td>-->
<!--                                <td>@mdo</td>-->
                            </tr>


                            </tbody>
                        </table>

<!--                        -->
<!--                        <ul>-->
<!--                            <li th:each="offer : ${premiumOffer}">-->
<!--                                <input type="radio" th:field="*{premiumOffer.id}" th:value="${offer.id}" />-->
<!--                                <label th:for="${offer.id}" th:text="${offer.name}" style="font-weight: bold"></label>-->
<!--                                <p th:text="${offer.description}"></p>-->
<!--                            </li>-->
<!--                        </ul>-->
                    </div>
<!--                    <div class="form-group">-->
<!--                        <div th:each="acc : ${accessoryList}" class='checkbox' style="left:25px;">-->
<!--                            <input th:id="${acc}" type="checkbox" th:field="*{accessories}"-->
<!--                                   th:value="${acc.id}"/>-->
<!--                            <label th:text="${acc.name}" th:for="${acc}"></label>-->
<!--                        </div>-->

<!--                        <div class="error text-danger" th:if="${#fields.hasErrors('accessories')}">-->
<!--                            <p th:each="err : ${#fields.errors('accessories')}" th:text="${err}"></p>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <ul>-->
<!--                        <li th:each="file : ${files}">-->
<!--                            <a th:href="${file}" target="_blank" th:text="${file}"></a>-->
<!--                        </li>-->
<!--                    </ul>-->



                    <!-- Address - Additional data -->

                    <p>Dodatkowe informacje:</p>
                    <div class="collapsible">Adres</div>
                    <div class="content">

                        <div class="form-group">
                            <label for="city" class="bmd-label-floating">Miejscowość:</label>
                            <input id="city" type="text" name="city" th:value="*{address.city}"
                                   class="form-control" th:classappend="${#fields.hasErrors('city')}?'is-invalid'" autofocus="true"/>

                            <div class="error text-danger" th:if="${#fields.hasErrors('city')}">
                                <span th:each="err : ${#fields.errors('city')}" th:text="${err}"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <select th:field="*{address.province.id}" class="form-control"
                                    th:classappend="${#fields.hasErrors('address.province.id')}?'is-invalid'">
                                <option value="-1">--województwo--</option>
                                <option th:each="province : ${provinces}"
                                        th:value="${province.id}"
                                        th:text=" ${province.name}"
                                />
                            </select>
                            <div class="error text-danger" th:if="${#fields.hasErrors('address.province.id')}">
                                <p th:each="err : ${#fields.errors('address.province.id')}" th:text="${err}"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="street" class="bmd-label-floating">Ulica:</label>
                            <input id="street" type="text"  name="street" th:value="*{address.street}"
                                   class="form-control" th:classappend="${#fields.hasErrors('street')}?'is-invalid'"autofocus="true"/>

                            <div class="error text-danger" th:if="${#fields.hasErrors('street')}">
                                <span th:each="err : ${#fields.errors('street')}" th:text="${err}"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="localNumber" class="bmd-label-floating">Nr lokalu:</label>
                            <input id="localNumber" type="text" name="localNumber"  th:value="*{address.localNumber}"
                                   class="form-control" th:classappend="${#fields.hasErrors('localNumber')}?'is-invalid'" autofocus="true"/>

                            <div class="error text-danger" th:if="${#fields.hasErrors('localNumber')}">
                                <span th:each="err : ${#fields.errors('localNumber')}" th:text="${err}"></span>
                            </div>
                        </div>
                    </div>


                    <br>
                    <br>
                    <br>
                    <br>


                    <button type="submit" class="btn btn-primary btn-raised">Zapisz</button>
                </fieldset>
            </form>


</div>
</div>
<div th:replace="shared/footer :: footer"></div>

<script>
    $(function() {
        // Multiple images preview in browser
        var imagesPreview = function(input, placeToInsertImagePreview) {

            if (input.files) {
                var filesAmount = input.files.length;

                for (i = 0; i < filesAmount; i++) {
                    var reader = new FileReader();

                    reader.onload = function(event) {
                        $($.parseHTML('<img>')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                    }

                    reader.readAsDataURL(input.files[i]);
                }
            }

        };

        $('#files').on('change', function() {
            imagesPreview(this, 'div.gallery');
        });
    });


    /* Collapsible*/

    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }

</script>
</body>
</html>