<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <div th:replace="shared/header :: header-css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Strona domowa</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>


        <div id="main" class="card-body" style="padding-left: 100px; ">
            <H1>Dane użytkownika</H1>
        <div class="row">
            <div class="col-xs-6">
                    <div th:replace="fragments/userAccount.html :: userAccount(${propertyListPage.content.get(0).user})"></div>
                <br/>
            </div>
            <div class="col-sm-9">


                <div th:with="boundMin=${20000},boundMax=${40000}">

                    <div>
                        <br><br>
                        <H3>Ogłoszenia użytkownika</H3>


                        <div th:if="${propertyListPage.hasContent() eq false}">
                            <span th:if="${searchCommand.isEmpty()}">Brak ogłoszeń w bazie</span>
                            <span th:unless="${searchCommand.isEmpty()}">Brak wyników wyszukiwania</span>
                        </div>
                        <div th:if="${propertyListPage.hasContent() eq true}">



            <span th:if="${searchCommand.isEmpty()}">
                Masz [[${propertyListPage.totalElements}]] ogłoszeń
            </span>
                            <span th:unless="${searchCommand.isEmpty()}">
                Wynik wyszukiwania: [[${propertyListPage.totalElements}]] ogłoszeń
            </span>

            <div th:each="property : ${propertyListPage.content}" class="card mb-3" style="height: 150px">
                <div th:style="${property.exclusive} ? 'background:radial-gradient(circle, rgba(225,222,170,1) 37%, rgba(208,184,117,1) 100%)' : ''" >
                    <div class="row no-gutters" >
                        <div class="col-md-2">
                            <img style="width: 150px; height: 150px;" class="card-img" th:src="${property.imageName != null ? property.imageName : '/images/no-image-property.png'}"/>
                        </div>
                        <div class="col-md-8">
                            <div class="card-header-tabs">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"> <a th:href="@{/propertyDetails.html(id=${property.id})}">[[${property.name}]]</a></h5>

                                <p class="card-subtitle"><span th:text="${property.address.city} + ', '+${property.address.province.name}"/></p><br>

                                <h5 class="card-text"><span th:text="${#numbers.formatDecimal(property.price,2,2)} + ' zł.'"/></h5>

                                <p class="card-text">
                                    <small class="text-muted"><span th:text="'Data dodatnia: '+ ${#dates.format(property.creationDate, 'dd-MM-yyyy HH:mm')}"/></small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                            <div th:replace="shared/paginationWithParam :: pager('userDetails.html?id='+ ${propertyListPage.content.get(0).user.id},
             ${propertyListPage})"></div>
        </div>

    </div>

</div>

</div>



</div>
</div>
</div>

<div th:replace="shared/footer :: footer"></div>
</body>
</html>